form {
	text-align: left;
}

.form-field {
	margin-bottom: $form-element-gap;
}

label {
	display: block;
	margin-bottom: 10px;
}

input[type="text"] {
	@include rounded-corners;
	border: $border-size solid $subtle-border-color;
	height: $form-element-height;
	width: 100%;
	padding-left: 15px;
	padding-right: 15px;
}

.form-field-error {
	label {
		color: $danger-color;
	}
	input[type="text"] {
		border: $border-size solid $danger-color;
	}
}

.form-error-message {
	color: $danger-color;
	font-size: 12px;
	margin-top: 5px;
}