$font-color: #333333;

$main-color: #f39c12;
$invert-color: #ffffff;

$link-color: #27ae60;

$subtle-color: #ecf0f1;
$subtle-border-color: #dddddd;

$success-color: #dff0d8;
$success-color-text: #3c763d;

$danger-color: #f2dede;
$danger-color-text: #a94442;

$info-color: #d9edf7;
$info-color-text: #31708f;

$form-element-gap: 15px;
$form-element-height: 40px;

$border-size: 1px;