* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  outline: none; }

a, a:visited {
  color: inherit;
  text-decoration: none; }
  a:hover, a:visited:hover {
    text-decoration: underline; }

body {
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: 300;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
  -moz-font-feature-settings: "liga", "kern";
  color: #333333; }

img {
  max-width: 100%; }

/*Components*/
.container {
  margin: 0 auto;
  padding: 15px;
  max-width: 900px; }

.col-6 {
  padding-left: 15px;
  padding-right: 15px;
  float: left;
  width: 50%; }

@media only screen and (max-width: 480px) {
  .col-6 {
    float: none;
    width: 100%; } }
.main-header {
  padding: 15px 30px;
  border-bottom: 1px solid #dddddd; }
  .main-header:after {
    content: "";
    display: table;
    clear: both; }

.main-logo {
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
  background: transparent url(../assets/images/logo-main.png) no-repeat center center;
  background-size: 173px 48px;
  display: inline-block;
  float: left;
  margin: 0;
  width: 173px;
  height: 48px; }

.header-text {
  margin-right: 20px; }

nav {
  float: right;
  margin-top: 3px; }

.page-header {
  background-color: #ecf0f1;
  border-bottom: 1px solid #dddddd;
  color: #797979;
  font-size: 28px;
  letter-spacing: 1px;
  margin-bottom: 30px;
  padding: 50px 0;
  text-align: center; }

.hero-container {
  text-align: center;
  margin: 60px 0; }

.hero-title {
  font-size: 32px;
  letter-spacing: 1px;
  line-height: 42px;
  margin: 0 auto 20px auto;
  width: 500px; }

.hero-logo {
  width: 91px;
  margin-bottom: 20px; }

.hero-form {
  width: 250px;
  margin: 0 auto; }

@media only screen and (max-width: 480px) {
  .hero-container {
    padding: 30px; }

  .hero-title, .hero-form {
    width: 100%; } }
.cards-filter {
  text-align: center;
  margin-bottom: 15px; }
  .cards-filter .filter {
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    display: inline-block;
    font-size: 13px;
    border: 1px solid #dddddd;
    padding: 5px 15px;
    margin: 0 5px; }
    .cards-filter .filter:hover {
      background-color: #ecf0f1;
      text-decoration: none; }

.add-card {
  margin-bottom: 10px;
  text-align: center; }
  .add-card .btn {
    width: 250px; }

.cards-empty {
  text-align: center;
  margin-top: 50px; }
  .cards-empty img {
    height: 173px;
    width: 125px; }

.cards-empty-message {
  font-size: 20px;
  margin-top: 30px;
  margin-bottom: 30px; }

.cards {
  padding: 10px; }
  .cards:after {
    content: "";
    display: table;
    clear: both; }

.card {
  float: left;
  width: 25%; }

.card-inner {
  display: block;
  margin: 10px; }

.card-image img {
  -webkit-border-top-left-radius: 3px;
  -webkit-border-top-right-radius: 3px;
  -moz-border-radius-topleft: 3px;
  -moz-border-radius-topright: 3px;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  display: block; }

.card-content {
  -webkit-border-bottom-right-radius: 3px;
  -webkit-border-bottom-left-radius: 3px;
  -moz-border-radius-bottomright: 3px;
  -moz-border-radius-bottomleft: 3px;
  border-bottom-right-radius: 3px;
  border-bottom-left-radius: 3px;
  border: 1px solid #dddddd;
  border-top: 0;
  padding: 30px 20px; }

.card-name a {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  color: #27ae60;
  font-size: 18px; }

.card-heading2 {
  font-size: 13px;
  margin-bottom: 10px; }

.card-heading3 {
  font-size: 24px;
  font-weight: bold; }

.card-text {
  font-size: 14px;
  margin-top: 5px; }

@media only screen and (max-width: 480px) {
  .add-card {
    padding-left: 10px;
    padding-right: 10px; }
    .add-card .btn {
      width: 100%; }

  .card {
    float: none;
    width: 100%; } }
.card-detail-empty-image {
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  background-color: #ecf0f1;
  text-align: center;
  height: 300px;
  line-height: 300px;
  margin-bottom: 15px; }

.add-picture {
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  border: 1px solid #dddddd;
  display: block;
  text-align: center;
  padding: 15px; }
  .add-picture:hover {
    background-color: #ecf0f1;
    text-decoration: none; }

form {
  text-align: left; }

.form-center {
  max-width: 500px;
  margin: 0 auto; }

.form-action {
  clear: left; }

.form-action-secondary {
  float: right; }

.form-field {
  margin-bottom: 15px; }

label {
  display: block;
  margin-bottom: 10px; }

input[type="text"] {
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  border: 1px solid #dddddd;
  height: 40px;
  width: 100%;
  padding-left: 15px;
  padding-right: 15px; }

.checkbox, .radio {
  margin-bottom: 5px; }

.checkbox-label, .radio-label {
  margin-left: 5px; }

.select-menu {
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  border: 1px solid #dddddd;
  height: 40px;
  background: transparent url(../assets/images/select-menu-arrow.png) 96% 50% no-repeat;
  background-size: 14px 9px; }
  .select-menu select {
    background: transparent;
    border: 0;
    border-radius: 0;
    line-height: 40px;
    height: 40px;
    -webkit-appearance: none;
    padding-left: 15px;
    padding-right: 15px;
    width: 100%; }

textarea {
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  border: 1px solid #dddddd;
  height: 40px;
  height: auto;
  width: 100%;
  padding: 15px; }

.forgot-link {
  color: #666666;
  font-size: 13px; }

.form-field-error label {
  color: #a94442; }
.form-field-error input[type="text"] {
  border: 1px solid #a94442; }

.form-error-message {
  color: #a94442;
  font-size: 12px;
  margin-top: 5px; }

@media only screen and (max-width: 480px) {
  .form-action .btn {
    width: 100%; }

  .form-action-secondary {
    margin-top: 15px; } }
.btn {
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  background-color: transparent;
  color: inherit;
  display: inline-block;
  line-height: 40px;
  padding: 0 20px;
  text-decoration: none; }
  .btn:hover {
    text-decoration: none; }

.btn-default {
  border: 1px solid #dddddd; }

.btn-primary {
  border: 1px solid #f39c12; }
  .btn-primary:hover {
    background-color: #f39c12;
    color: #ffffff; }

.alert {
  padding: 15px;
  margin-bottom: 30px;
  margin-top: -30px; }

.alert-success {
  background-color: #dff0d8;
  color: #3c763d; }

.alert-info {
  background-color: #d9edf7;
  color: #31708f; }

.alert-danger {
  background-color: #f2dede;
  color: #a94442; }
