.alert {
  padding: 0.938rem;
  margin-bottom: 1.875rem;
}

.alert-success {
  background-color: $success-color;
  color: $success-color-text;
}

.alert-info {
  background-color: $info-color;
  color: $info-color-text;
}

.alert-danger {
  background-color: $danger-color;
  color: $danger-color-text;
}

.alert-null {
  display: none;
}
