.cards-filter {
  text-align: center;
  margin-bottom: 0.938rem;

  .filter {
    @include rounded-corners;
    transition: background-color 0.4s ease;
    display: inline-block;
    font-size: 0.813rem;
    border: $border-size solid $subtle-border-color;
    padding: 0.313rem 0.938rem;
    margin-left: 0.313rem;
    margin-right: 0.313rem;

    &:hover {
      background-color: $subtle-color;
      text-decoration: none;
    }
  }
}

.add-card {
  margin-bottom: 0.625rem;
  text-align: center;

  .btn {
    max-width: 250px;
  }
}

.cards-empty {
  text-align: center;
  margin-top: 3.125rem;

  img {
    height: 173px;
    width: 125px;
  }
}

.cards-empty-message {
  font-size: 1.25rem;
  margin-top: 1.875rem;
  margin-bottom: 1.875rem;
}

.cards {
  padding: 0.625rem;

  &:after {
    @include clearfix;
  }
}

.card {
  float: left;
  width: 25%;
}

.card-inner {
  display: block;
  margin: 0.625rem;
}

.card-image img {
  @include top-rounded-corners;
  display: block;
}

.card-content {
  @include bottom-rounded-corners;
  border: $border-size solid $subtle-border-color;
  border-top: 0;
  padding: 1.875rem 1.25rem;
}

.card-name a {
  @include text-overflow;
  color: $link-color;
  font-size: 1.125rem;
}

.card-heading2 {
  font-size: 0.813rem;
  margin-bottom: 0.625rem;
}

.card-heading3 {
  font-size: 1.5rem;
  font-weight: bold;
}

.card-text {
  font-size: 0.875rem;
  margin-top: 0.313rem;
}

@media only screen and (max-width: 480px) {
  .add-card {
    padding-left: 10px;
    padding-right: 10px;

    .btn {
      width: 100%;
    }
  }

  .card {
    float: none;
    width: 100%;
  }
}