form {
  text-align: left;
}

.form-action {
  clear: left;
}



.form-field {
  margin-bottom: $form-element-gap;
}

label {
  display: block;
  margin-bottom: 10px;
}

input[type="text"], input[type="password"], select, textarea {
  -webkit-transition: all 0.30s ease-in-out;
  -moz-transition: all 0.30s ease-in-out;
  -ms-transition: all 0.30s ease-in-out;
  -o-transition: all 0.30s ease-in-out;

  &:focus {
    box-shadow: 0 0 5px rgba(243, 156, 18, 1);
    border: 1px solid $main-color;
  }
}

input[type="text"], input[type="password"] {
  @include form-styles;
  width: 100%;
  padding-left: $form-element-padding;
  padding-right: $form-element-padding;
}

.checkbox, .radio {
  margin-bottom: 5px;
}

.checkbox-label, .radio-label {
  margin-left: 5px;
}

.select-menu {
  @include form-styles;
  background: transparent url(../assets/images/select-menu-arrow.png) 96% 50% no-repeat;
  background-size: 14px 9px;

  select {
    background: transparent;
    border: 0;
    border-radius: 0;
    line-height: $form-element-height;
    height: $form-element-height;
    -webkit-appearance: none;
    padding-left: $form-element-padding;
    padding-right: $form-element-padding;
    width: 100%;
  }
}

textarea {
  @include form-styles;
  height: auto;
  width: 100%;
  padding: $form-element-padding;
}

.forgot-link {
  color: #666666;
  font-size: 0.813rem;
}

.form-field-error {
  label {
    color: $danger-color-text;
  }
  input[type="text"] {
    border: $border-size solid $danger-color-text;
  }
}

.form-error-message {
  color: $danger-color-text;
  font-size: 0.75rem;
  margin-top: 5px;
}

@media only screen and (max-width: 480px) {
  .form-action .btn {
    width: 100%;
  }
}