.hero-container {
  text-align: center;
}

.hero-title {
  font-size: 2rem;
  letter-spacing: 1px;
  line-height: 2.625rem;
  margin: 0 auto 1.25rem auto;
  width: 500px;
}

.hero-logo {
  width: 91px;
  margin-bottom: 1.25rem;
}

.hero-form {
  width: 250px;
  margin: 0 auto;
}

@media only screen and (max-width: 480px) {
  .hero-container {
    padding: 30px;
  }

  .hero-title, .hero-form, .hero-form .btn {
    width: 100%;
  }
}
