.container {
  margin: 0 auto;
  padding: 15px;
  max-width: 900px;
}

.col-6 {
  padding-left: 15px;
  padding-right: 15px;
  float: left;
  width: 50%;
}

@media only screen and (max-width: 480px) {
  .col-6 {
    float: none;
    width: 100%;
  }
}