.page-header {
  background-color: $subtle-color;
  border-bottom: $border-size solid $subtle-border-color;
  color: $subtle-text-color;
  font-size: 1.75rem;
  letter-spacing: 1px;
  margin-bottom: 1.875rem;
  padding-top: 3.125rem;
  padding-bottom: 3.125rem;
  text-align: center;
}