.page-header {
  background-color: $subtle-color;
  border-bottom: $border-size solid $subtle-border-color;
  color: $subtle-text-color;
  font-size: 1.75rem;
  letter-spacing: 1px;
  margin-bottom: 30px;
  padding: 50px 0;
  text-align: center;
}