$font-color: #333333;

$main-color: #f39c12;
$invert-color: #ffffff;
$link-color: #27ae60;
$subtle-color: #ecf0f1;
$subtle-border-color: #dddddd;

$danger-color: #e74c3c;

$form-element-gap: 15px;
$form-element-height: 40px;

$border-size: 1px;